<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mulish:ital,wght@1,700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lobster&family=Mulish:ital,wght@1,700&family=Noto+Sans+KR:wght@300;400&family=Oooh+Baby&family=Pacifico&display=swap');
        @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
        @import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
        nav, h1{
           font-family: 'Lobster', cursive;
        font-family: 'Mulish', sans-serif;
        }
        .hi, p{
        font-family: 'Oooh Baby', cursive;
        }

        </style>
        <link href="{% static 'single_pages/css/list.css' %}" rel="stylesheet" type="text/css" media="screen">
         <link href="{% static 'christmas_shop/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
         <script src="https://kit.fontawesome.com/96cee38240.js" crossorigin="anonymous"></script>
         <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>홈 페이지</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'single_pages/css/style.css' %}" rel="stylesheet" media="screen"/>
    </head>
    <body id="page-top">
       {% include 'christmas_shop/navbar.html' %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Merry Christmas</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">May every day shine like Christmas.<br>Make a wish, dear Santa.</h2>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Dear Santa</h2>
                        <p class="text-white-50">
                            안녕하세요. 크리스마스 소품 판매 회사 Dear Santa입니다.<br>
                            지금 크리스마스 트리, 리스, 스노우볼을 판매 중입니다.<br>
                            다양한 상품을 구경해보세요.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects-->
    <section class="serv_list">
        <div class="container">
            <div class="title">
                <h1>New</h1>
            </div>
            <div class="item_list">
                {% for product in recent_products %}
                <div class="card" style="height:510px">
                    <div class="img">
                        <img style="height:280px;" src="{{product.image.url}}" alt="">
                    </div>
                    <div class="text">
                        <p class="hi" style="color:rgb(225,89,40); font-weight:bold; font-size:26px;">{{product.category}}</p>
                        <h3>{{product.title}}</h3>
                        <p>{{product.hook_text}}</p>
                        <p>가격: {{product.price}}</p>
                        <button style="background-color:rgb(225,89,40);"><a class="text-decoration-none" style="font-size:15px; color:white" href="{{product.get_absolute_url}}">&nbsp;구경하기</a></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% include 'christmas_shop/footer.html' %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'single_pages/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    </body>
</html>
